.all{
    background-color: #F5F8FF;
}

.img-1{
    width: 135px;
    height: 82px;
    padding-left: 30px;

}
.logo{
    display: flex;
    gap: 110px;
    justify-content: center;
     padding-top: 30px;
     padding-bottom: 50px;
}
.bar{
    border: none;
   

}
.list{
     display: flex;
     gap: 30px;
     margin-left: 300px;
   margin-top: 30px;
     

}



.always{
    display: flex;
   padding-top: 50px;
   justify-content: center;
   
   
   
    
}
.text-2{
    font-size: 50px;
    padding-bottom: 60px;
   
}
.text-master{
 padding-left: 190px;
 padding-right: -90px;
}
.img-2{
    width: 570px;
    height: 355px;
   
}
.plant{
    text-align: center;
    padding-top: 50px;
}

.text-3{
    font-size: 40px;
    color: #E95A08;
    padding-bottom: 40px;
    padding-top: 30px;
    
}
.text-4{
    font-size: 40px;
    color: black;
    padding-bottom: 40px;
    padding-top: 30px;
}
.fram{
    display: flex;
    gap: 10px;
    padding-left: 80px;
    padding-bottom: 50px;
    justify-content: center;
}
.fram-pro{
    justify-items: center;
}
.btn-1{
    background-color: #E95A08;
    color: white;
    padding:5px 89px;
   
    
}
.store{
    display: flex;
    gap: 80px;
    padding-top: 90px;
    justify-content: center;
    
}
.img-store{
    height: 597px;
    width: 540px;
    padding-left: 80px;
    
}


.img-soto{
    position: absolute;
    height: 286px;
    width: 286px;
    top: -130px;
    left: 300px;
    z-index: 10;

}


.img-container{
position: relative;
display: inline-block;


}

.store-master{
    padding-left: 40px;
}
.text-store{
    font-size: 70px;
}
.text-s{
    font-size:20px ;
}